<div class="rounded-xl bg-white text-textBlack medium-cd-font mt-40 border-2 border-opacity-15 px-6 py-10">
    <div class="flex justify-between px-6">
        <div class="font-bold text-xl">
            Students Table
        </div>
        <button class="border-2 shadow-lg px-5 py-3 rounded-3xl">
            <i class="fa-solid fa-user-plus"></i> CSV
        </button>
    </div>
    <table class="w-full text-sm text-left ">
        <thead class="text-xs text-bodyGray uppercase border-b">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Student
                </th>

                <th scope="col" class="px-6 py-3">
                    Level
                </th>
                <th scope="col" class="px-6 py-3">
                    Status
                </th>
                <th scope="col" class="px-6 py-3">
                    Birthday
                </th>

                <th>

                </th>
            </tr>
        </thead>
        <tbody>
<!--            for each student in students  -->
          <tr *ngFor="let student of students" class="bg-white border-b">
            <th scope="row" class="flex gap-2 px-6 py-4 font-medium whitespace-nowrap">
              <img src="../../../assets/images/profilePic2.png" alt="" class="size-10">
              <div class="felx flex-col">
                <p>
                  {{student.name}}
                </p>
                <p class="text-bodyGray">
                  {{student.email}}
                </p>
              </div>
            </th>

            <td class="px-6 py-4">
              {{student.level}}
            </td>
            <td class="px-6 py-4">
              <span *ngIf="student.online">
                Online
                <i class="fa-solid fa-circle text-green-400"></i>
              </span>
              <span *ngIf="!student.online">
                Offline
                <i class="fa-solid fa-circle text-bodyGray"></i>
              </span>
            </td>
            <td class="px-6 py-4">
              {{student.birthdate}}
            </td>
            <td class="text-bodyGray font-bold">
              <a href="#" class="">
                Edit
              </a>
            </td>
          </tr>

        </tbody>
    </table>
</div>
