<!-- Modal toggle -->
<button class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8  inline-flex justify-center items-center" data-modal-target="crud-modal" data-modal-toggle="crud-modal" type="button" (click)="toggleAddExpModal()">
  <i class="fa-solid" [class]="operation === 'create' ? 'fa-plus' : 'fa-pen'" ></i>
</button>

<!-- Main modal -->
<div id="crud-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-[calc(50%-16rem)] z-50 justify-center items-center md:inset-0 h-[calc(100%-1rem)] " *ngIf="!expModalCollapsed">
  <div class="relative p-4 w-full max-w-lg max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow ">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
        <h3 class="text-lg font-semibold text-gray-900">
          {{title}}
        </h3>
        <button  (click)="toggleAddExpModal()" type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-toggle="crud-modal" >
          <i class="fa-solid fa-xmark fa-lg"></i>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="experienceForm" (ngSubmit)="operation === 'create' ?  onCreate() : onUpdate()">
        <div class="grid gap-4 mb-4 grid-cols-4 overflow-y-auto max-h-96">
          <div class="col-span-4">
            <label for="title" class="block mb-2 text-sm font-medium text-gray-900">Job Title</label>
            <input type="text" formControlName="title" id="title" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Type experience title" required>
          </div>
          <div class="col-span-2">
            <label for="startAtMonth" class="block mb-2 text-sm font-medium text-gray-900">Start month</label>
            <select formControlName="startAtMonth" id="startAtMonth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " >
              <option value="" selected>Select Month</option>
              <option  *ngFor="let month of myMonths" value="{{month.value}}">{{month.name}}</option>
            </select>
          </div>
          <div class="col-span-2">
            <label for="startAtYear" class="block mb-2 text-sm font-medium text-gray-900">Start year</label>
            <select formControlName="startAtYear" id="startAtYear" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " >
              <option value="" selected>Select Year</option>
              <option  *ngFor="let year of myStartYears" value="{{year}}">{{year}}</option>
            </select>
          </div>

          <div class="col-span-2">
            <label for="endAtMonth" class="block mb-2 text-sm font-medium text-gray-900">End month</label>
            <select formControlName="endAtMonth" id="endAtMonth" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " >
              <option value="" selected>Select Month</option>
              <option  *ngFor="let month of myMonths" value="{{month.value}}">{{month.name}}</option>
            </select>
          </div>
          <div class="col-span-2">
            <label for="endAtYear" class="block mb-2 text-sm font-medium text-gray-900">End year</label>
            <select formControlName="endAtYear" id="endAtYear" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " >
              <option value="" selected>Select Year</option>
              <option  *ngFor="let year of myEndYears" [value]="year">{{year}}</option>
            </select>
          </div>
          <div class="w-40 flex items-center mb-4">
            <input (click)="toggleAddInstitut()" id="add-institut-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2" >
            <label for="add-institut-checkbox" class="ms-2 text-sm font-medium text-gray-900">Add New Institut</label>
          </div>

          <div class="col-span-4 " *ngIf="addInstitutCollapsed">
            <label for="institutId" class="block mb-2 text-sm font-medium text-gray-900">Institute name</label>
            <select formControlName="institutId" id="institutId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " >
              <option value="" selected>Select institute</option>
              <option  *ngFor="let institut of instituts" value="{{institut.id}}">{{institut.name}}</option>
            </select>
          </div>


          <div class="col-span-4" *ngIf="!addInstitutCollapsed">
            <div class="">
              <label for="institutname" class="block mb-2 text-sm font-medium text-gray-900">Institute name</label>
              <input type="text" formControlName="institutname" id="institutname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Type institut name">
            </div>
            <div class="" >
              <label for="institutwebsite" class="block mb-2 text-sm font-medium text-gray-900">Institute website</label>
              <input type="text" formControlName="institutwebsite" id="institutwebsite" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Type institut website">
            </div>
            <div class="col-span-2 sm:col-span-1" >
              <label for="institutimage" class="block mb-2 text-sm font-medium text-gray-900">Institute website</label>
              <input type="file" (change)="onImagePicked($event)" id="institutimage" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 " placeholder="Type institut website">
            </div>
          </div>

          <div class="col-span-4">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 ">Job Description</label>
            <textarea id="description" formControlName="description" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Write experience description here"></textarea>
          </div>
        </div>
        <button type="submit" class="text-white inline-flex items-center bg-bodyLightPurple hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
          Save
        </button>
      </form>
    </div>
  </div>
</div>
