<aside class="grid grid-rows-12 border-l-2 h-dvh overflow-scroll medium-cd-font text-textBlack">
    <div class="row-start-1 row-end-3">
        <div class="">
            <div class="z-10">
                <img src="../../../assets/images/coverPic.png" alt="" class=" h-32 w-full ">
            </div>
            <div class="flex z-20 -mt-10 w-full justify-center">
                <div class="relative">
                    <img src="../../../assets/images/profilePic2.png" alt="" class="h-20 w-20">
                    <i class="fa-solid fa-circle text-green-400 absolute right-1 bottom-1"></i>
                </div>
            </div>
            <div class="w-full flex flex-col">
                <p class="self-center  font-bold">
                    Yassine Zawarduo
                </p>
                <p class="self-center text-sm text-bodyGray">
                    Junior Software Engineer
                </p>
            </div>
        </div>

    </div>
    <div class="mt-10 xl:mt-20 p-5 h-4/6 row-start-4 row-end-13 text-ss" >
        <div class="grid grid-rows-10 gap-1 w-full bg-bodyLightPurple rounded-xl pt-5 px-5">
            <div class="row-span-2 flex gap-1 mb-1 font-bold text-xs">
                <button class="flex-auto hover:border-b-2 h-10 focus:border-b-2">
                    Personal
                </button>
                <button class="flex-auto hover:border-b-2 h-10 focus:border-b-2">
                    Education
                </button>
                <button class="flex-auto hover:border-b-2 h-10 focus:border-b-2">
                    Experience
                </button>
            </div>
            <div class="row-span-2 flex flex-col">
                <div class="font-bold text-xs" >
                    About
                </div>
                <div class="text-bodyWhite">
                    Hey my name is zwarducico  i love watching anime and ayayaya and i waste my time typing code
                </div>
            </div>
            <div class="row-span-2 flex flex-col gap-2">
                <div class="font-bold text-xs">
                    Hobbies
                </div>
                <div class="flex flex-wrap gap-1 text-bodyLightPurple">
                    <span class="bg-bodyLightWhite px-3 py-1 rounded-2xl">
                        Gaming
                    </span>
                    <span class="bg-bodyLightWhite px-3 py-1 rounded-2xl">
                        Anime
                    </span>
                    <span class="bg-bodyLightWhite px-3 py-1 rounded-2xl">
                        Aasniasdasme
                    </span>
                    <span class="bg-bodyLightWhite px-3 py-1 rounded-2xl">
                        Anime
                    </span>
                    <span class="bg-bodyLightWhite px-3 py-1 rounded-2xl">
                        Anime
                    </span>
                    <span class="bg-bodyLightWhite px-3 py-1 rounded-2xl">
                        Anime
                    </span>
                </div>
            </div>
            <div class="row-span-2 flex flex-col">
                <div class="font-bold text-xs">
                    Socials
                </div>
                <div class="flex flex-wrap gap-1">
                    <span class="flex gap-1 bg-bodyLightWhite px-3 py-1 border border-textBlack">
                        <i class="fa-brands fa-linkedin"></i>
                        <span>Yassine nadi</span>
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </span>
                    <span class="flex gap-1 bg-bodyLightWhite px-3 py-1 border border-textBlack">
                        <i class="fa-brands fa-linkedin"></i>
                        <span>ASDASDASDASD nadi</span>
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </span>
                    <span class="flex gap-1 bg-bodyLightWhite px-3 py-1 border border-textBlack">
                        <i class="fa-brands fa-linkedin"></i>
                        <span>Yassine nadi</span>
                        <i class="fa-solid fa-up-right-from-square"></i>
                    </span>
                </div>
            </div>
            <div class="row-span-2 flex flex-col ">
                <div class="font-bold text-xs">
                    Note
                </div>
                <div class="">
                    <p class="text-bodyWhite">
                        3ich omat7dich
                    </p>
                </div>
            </div>
        </div>
    </div>
</aside>
