<app-layout [navBarData]="navbarData">
    <div class="text-textBlack ">
        <div class="mx-10 medium-cd-font border border-opacity-15 bg-white rounded-md pb-10">
            <div class="z-10">
                <img src="./assets/images/coverPic.jpg" alt="" class=" h-32 w-full rounded-t-md" >
            </div>
            <div class="ml-10 flex z-20 -mt-10 w-full">
                <div class="relative">
                    <img src="./assets/images/Default_pfp.svg.png" alt="" class="size-20">
                    <i class="fa-solid fa-circle text-green-400 absolute right-1 bottom-1"></i>
                </div>
            </div>
            <div class="flex">
                <div class="ml-12 w-full flex flex-col">
                    <p class="font-bold">
                      {{studentProfile?.student?.firstName}} {{studentProfile?.student?.lastName}}
                    </p>
                    <p class="text-sm text-bodyGray">
                        {{studentProfile?.about}}
                    </p>
                </div>
                <div class="m-5 " *ngIf="this.isMyProfile()">
                    <app-profile-form-modal [profile]="studentProfile" (createProfile)="handleProfileCreation($event)" (updateProfile)="handleProfileUpdate($event)"  />
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-5 mx-10 medium-cd-font mt-10 border border-opacity-15 bg-white rounded-md p-5"  >
            <div class="font-bold flex justify-between">
                <p class="">
                    Experience
                </p>
                <div class="flex gap-2" *ngIf="this.isMyProfile()">
                  <app-experience-modal [operation]="'create'"
                                        [studentProfileService]="studentProfileService"
                                        [studentProfile]="studentProfile"
                                        [title]="'Create New Experience'"/>

                </div>
            </div>
            <div class="flex gap-5" *ngFor="let experience of studentProfile?.experiences">
                <div class="">
                <img src="/assets/images/{{ experience.institut.image.name ?? '.edinfo.jpeg' }}" alt="" class="size-20" >

                </div>
              <div class=""  >
                <p class="font-bold">
                  {{experience.title}} - {{experience.institut?.name}}
                </p>
                <p class="light-cd-font text-sm">
                  {{experience.startAt}} / {{experience.endAt}}
                </p>
                <p class="regular-cd-font text-lg">
                  {{experience.description}}
                </p>
              </div>
              <div class="ms-auto" *ngIf="this.isMyProfile()">
                <app-experience-modal [experience]="experience" [operation]="'update'"
                                      [studentProfileService]="studentProfileService" [studentProfile]="studentProfile"
                                      [title]="'Edit Experience'"/>
              </div>

            </div>
            <button class="regular-cd-font text-sm ml-auto" >
                ...see more
            </button>
        </div>
        <div class="flex flex-col gap-5 mx-10 medium-cd-font mt-10 border border-opacity-15 bg-white rounded-md p-5" >
            <div class="flex justify-between">
                <p class="font-bold">
                    Education
                </p>
                <div class="flex gap-2" *ngIf="this.isMyProfile()">


                  <app-education-modal [studentProfileService]="studentProfileService" [studentProfile]="studentProfile" [title]="'Create New Education'" [operation]="'create'" />

                </div>
            </div>
            <div class="flex gap-5" *ngFor="let education of studentProfile?.educations">
                <div class="">
                  <img src="./assets/images/{{ education.institut.image.name ?? 'fstm_logo.jpeg' }}" alt="" class="size-20" >
                </div>
                <div class=""  >
                    <p class="font-bold">
                      {{education.title}} - {{education.institut?.name}}
                    </p>
                    <p class="light-cd-font text-sm">
                      {{education.startAt}} / {{education.endAt}}
                    </p>
                    <p class="regular-cd-font text-lg">
                        {{education.description}}
                    </p>
                </div>
              <div class="ms-auto" *ngIf="this.isMyProfile()">

                <app-education-modal [studentProfileService]="studentProfileService" [studentProfile]="studentProfile" [education]="education" [title]="'Edit Education'" [operation]="'update'" />
              </div>

            </div>
            <button class="regular-cd-font text-sm ml-auto">
                ...see more
            </button>
        </div>
    </div>
</app-layout>
