<app-layout [navBarData]="navbarData">
    <div class="mr-5 ml-80 lg:ml-5 text-textBlack py-10">
        <div class="mx-10 medium-cd-font border border-opacity-15 bg-white rounded-md pb-10">
            <div class="z-10">
                <img src="./assets/images/coverPic.jpg" alt="" class=" h-32 w-full rounded-t-md">
            </div>
            <div class="ml-10 flex z-20 -mt-10 w-full">
                <div class="relative">
                    <img src="./assets/images/profilePic2.png" alt="" class="size-20">
                    <i class="fa-solid fa-circle text-green-400 absolute right-1 bottom-1"></i>
                </div>
            </div>
            <div class="flex">
                <div class="ml-12 w-full flex flex-col">
                    <p class="font-bold">
                        Yassine Zawarduo
                    </p>
                    <p class="text-sm text-bodyGray">
                        Software Engineering Student | Looking for PFE internship
                    </p>
                </div>
                <button class="m-5 ">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </div>
        </div>
        <div class="flex flex-col gap-5 mx-10 medium-cd-font mt-10 border border-opacity-15 bg-white rounded-md p-5">
            <div class="font-bold flex justify-between">
                <p class="">
                    Experience
                </p>
                <div class="flex gap-2">
                    <button>
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button>
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="flex gap-5">
                <div class="">
                <img src="./assets/images/edinfo.jpeg" alt="" class="">

                </div>
                <div class="">
                    <p class="font-bold">
                        Full Stack EngineerFull Stack Engineer
                    </p>
                    <p class="regular-cd-font text-sm">
                        EdInfo · InternshipEdInfo · Internship May 2023 - Jul 2023 · 3 mosMay 2023 - Jul 2023 · 3 mos Casablanca-Settat, Morocco · RemoteCasablanca-Settat, Morocco · Remote

                        Designed and developed a web application for commercial management
                        Designed and developed a web application for commercial management
                        Designed and developed a web application for commercial management
                        Designed and developed a web application for commercial management
                        Designed and developed a web application for commercial management
                    </p>
                </div>
                
            </div>
            <button class="regular-cd-font text-sm ml-auto">
                ...see more
            </button>
        </div>
        <div class="flex flex-col gap-5 mx-10 medium-cd-font mt-10 border border-opacity-15 bg-white rounded-md p-5">
            <div class="flex justify-between">
                <p class="font-bold">
                    Education
                </p>
                <div class="flex gap-2">
                    <button>
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button>
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="flex gap-5">
                <div class="">
                <img src="./assets/images/fstm_logo.jpeg" alt="" class="">

                </div>
                <div class="">
                    <p class="font-bold">
                        Faculté des Sciences et Techniques Mohammedia (FSTM) 
                    </p>
                    <p class="regular-cd-font text-sm">
                        Faculté des Sciences et Techniques Mohammedia (FSTM)Faculté des Sciences et Techniques Mohammedia (FSTM)
                        engineering , Computer Software Engineeringengineering , Computer Software Engineering Sep 2021 - Jun 2024Sep 2021 - Jun 2024

                        Skills: Express.js · Spring Boot · PHP · Java · C (Programming Language) · Project Management · Analytical Skills · Engineering
                    </p>
                </div>
                
            </div>
            <button class="regular-cd-font text-sm ml-auto">
                ...see more
            </button>
        </div>
    </div>
</app-layout>
