<app-layout [navBarData]="navbarData">
    <div class="mr-5 ml-80 lg:ml-5 text-textBlack py-10">
        <div class="mx-10 medium-cd-font border border-opacity-15 bg-white rounded-md pb-10">
            <div class="z-10">
                <img src="./assets/images/coverPic.jpg" alt="" class=" h-32 w-full rounded-t-md">
            </div>
            <div class="ml-10 flex z-20 -mt-10 w-full">
                <div class="relative">
                    <img src="./assets/images/profilePic2.png" alt="" class="size-20">
                    <i class="fa-solid fa-circle text-green-400 absolute right-1 bottom-1"></i>
                </div>
            </div>
            <div class="flex">
                <div class="ml-12 w-full flex flex-col">
                    <p class="font-bold">
                      {{studentProfile?.student?.firstName}} {{studentProfile?.student?.lastName}}
                    </p>
                    <p class="text-sm text-bodyGray">
                        {{studentProfile?.about}}
                    </p>
                </div>
                <button class="m-5 ">
                    <i class="fa-solid fa-pen"></i>
                </button>
            </div>
        </div>
        <div class="flex flex-col gap-5 mx-10 medium-cd-font mt-10 border border-opacity-15 bg-white rounded-md p-5"  >
            <div class="font-bold flex justify-between">
                <p class="">
                    Experience
                </p>
                <div class="flex gap-2">

                  <button class="bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center " data-modal-target="crud-modal" data-modal-toggle="crud-modal" type="button">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
            </div>
            <div class="flex gap-5" *ngFor="let experience of studentProfile?.experiences">
                <div class="">
                <img src="./assets/images/edinfo.jpeg" alt="" class="size-20">

                </div>
                <div class="" >
                    <p class="font-bold">
                      {{experience.institut?.name}}
                    </p>
                    <p class="regular-cd-font text-sm">
                        {{experience.description}}
                    </p>
                </div>
              <button>
                <i class="fa-solid fa-pen"></i>
              </button>

            </div>
            <button class="regular-cd-font text-sm ml-auto" >
                ...see more
            </button>
        </div>
        <div class="flex flex-col gap-5 mx-10 medium-cd-font mt-10 border border-opacity-15 bg-white rounded-md p-5" >
            <div class="flex justify-between">
                <p class="font-bold">
                    Education
                </p>
                <div class="flex gap-2">


                  <app-education-modal [studentProfileService]="studentProfileService" [studentProfile]="studentProfile" />

                </div>
            </div>
            <div class="flex gap-5" *ngFor="let education of studentProfile?.educations">
                <div class="">
                  <img src="./assets/images/fstm_logo.jpeg" alt="" class="size-20">
                </div>
                <div class=""  >
                    <p class="font-bold">
                      {{education.institut?.name}}
                    </p>
                    <p class="regular-cd-font text-sm">
                        {{education.description}}
                    </p>
                </div>
                <button class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center ">
                  <i class="fa-solid fa-pen"></i>
                </button>
            </div>
            <button class="regular-cd-font text-sm ml-auto">
                ...see more
            </button>
        </div>
    </div>
</app-layout>
